.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  background-image: url("../../assets/images/background.png");
}
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
    margin-top: 35px;
  }
}
@media  (max-width: 375px) {
  .container {
    grid-template-columns: 1fr;
    margin-top: 35px;
  }
}
